## Working environment
pip
jupyterlab
nbdime
pixiedust
joblib
pydotplus
dill
pyflakes

## core scientific
numpy
pandas
scipy
dask[complete]
statsmodels

## Visualisation
seaborn
matplotlib
plotly

## ML
scikit-learn
pykitml

## twitter
twython
geopy

## vision
opencv-python
