## Working environment
jupyterlab
nbdime
joblib
flake8
black
pytest
python-dotenv

## core scientific
numpy
pandas
scipy
dask[complete]

## Visualisation
matplotlib
plotly

## ML
scikit-learn

## Data
s3fs
fsspec
